{% extends 'base_faculty.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Manage Topics for {{ course.name }}</h2>
    <a href="{% url 'add_topic' course.id %}" class="btn btn-primary mb-3">Add New Topic</a>
    <ul class="list-group">
        {% for topic in topics %}
            <li class="list-group-item">
                {{ topic.name }}
            </li>
        {% empty %}
            <li class="list-group-item">No topics found for this subject.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'manage_courses' %}" class="btn btn-secondary mt-3">Back to Subjects</a>
</div>
{% endblock %} 